
header{
    display: flex;
    height: 70px;
    background-color: rgb(58, 255, 239);
    font-family: sans-serif;
    
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

